<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inline Snippets</title>


  <body>
    <div class="liquid" style="font-size: 56px;">

      
      {% snippet main %}
        {% assign foo = false %}
        <p>Hi {{ arg | upcase }}!!!</p>

        <p>This is an inline snippet</p>

        <ul>
          <li><a href="/wow-a-link">wow a link</a></li>
          <li>1 + 1 = {{ 1 | plus: 1 }}</li>
          <li>{% if true %}Yes!{% endif %}</li>
          <li>{% if foo %}NO{% endif %}</li>
          <li>{{ missing_var | default: 'fallback' }}</li>
        </ul>
      {% endsnippet %}

      {% render main, arg: 'lsf' %}

    </div>
  </body>
</html>
