<div class="home-banner">
  <h1>Liquid</h1>
  <p>Safe, customer-facing template language for flexible web apps.</p>
  <p class="btn-row">
    <a href="https://github.com/Shopify/liquid/archive/master.zip" target="_blank" class="btn">
      <span aria-hidden="true">{% include icons/desktop-download.svg %}</span> Download
    </a>
    <a href="https://github.com/Shopify/liquid" target="_blank" class="btn">
      <span aria-hidden="true">{% include icons/mark-github.svg %}</span> View on GitHub
    </a>
  </p>
</div>
