<div class="sidebar">
  <nav class="sidebar__nav">
    <header class="sidebar__logo" role="banner">
      {% if page.home %}
        Liquid
      {% else %}
        <a href="{{ "/" | relative_url }}">Liquid</a>
      {% endif %}
    </header>

    {%- assign sections = "basics, tags, filters" | split: ", " -%}

    <div class="sidebar__nav-interior">
      {%- for section in sections -%}
      {%- if section == "filters" -%}

        {%- assign categories = site[section] | map: "category" | uniq | sort -%}
        {%- for category in categories -%}
          {%- if category and category != "aaa" -%}
            {%- assign header = category | append: " " | append: section -%}
          {%- else -%}
            {%- assign header = section -%}
          {%- endif -%}
          {%- assign items = site[section] | where: "category", category | sort: "title" -%}
          {%- include sidebar-link.html -%}
        {%- endfor -%}

      {%- else -%}

        {%- assign header = section -%}
        {%- assign items = site[section] -%}
        {%- include sidebar-link.html -%}

      {%- endif -%}
      {%- endfor -%}
    </div>

    {%- if page.url -%}
    <script type="text/javascript">
        document.getElementById("{{ page.url }}").scrollIntoView({block: "center"});
    </script>
    {%- endif -%}
  </nav>
</div>