<div class="sidebar">
  <div class="sidebar--logo">
    <a href="/">Liquid</a>
  </div>
  <nav class="sidebar--nav"> {% assign sections = "basics, tags, filters" | split: ", " %}

    {% for section in sections %}
    <h3 class="section__header">{{ section | capitalize }}</h3>

    <ul class="section__links">
    {% for page in site.pages %}{% if page.url contains section/ %}{% unless page.path contains "index" %}
      <li><a href="{{ page.url | prepend: site.baseurl }}" class="section__link">{{ page.title }}</a></li>
    {% endunless %}{% endif %}{% endfor %}
    </ul>
    {% endfor %}

  </nav>
</div>
