<div class="sidebar">
  <header class="sidebar__logo" role="banner">
    <a href="{{ "/" | prepend: site.baseurl }}">Liquid</a>
  </header>
  <nav class="sidebar__nav"> {% assign sections = "basics, tags, filters" | split: ", " %}

    {% for section in sections %}
    <h3 class="section__header">{{ section | capitalize }}</h3>

    <ul class="section__links">
    {% for item in site.pages %}{% if item.url contains section/ %}{% unless item.path contains "index" %}
      <li><a href="{{ item.url | prepend: site.baseurl }}" class="section__link{% if item.url contains page.url and page.url != '/' and page.type != 'index' %} section__link--is-active{% endif %}">{{ item.title }}</a></li>
    {% endunless %}{% endif %}{% endfor %}
    </ul>
    {% endfor %}

  </nav>
</div>
