.btn {
  color: $color-white;
  display: inline-block;
  background: $color-blue-5;
  padding: $spacing-unit/4 $spacing-unit/2;
  width: 200px;
  border-radius: 4px;

  &:hover {
    background: $color-blue-4;
    text-decoration: none;
    cursor: pointer;
  }
}

.btn:visited {
  color: $color-white;
}

.btn-row {
  display: flex;
  justify-content: center;
  margin-bottom: 0;

  .btn:not(:first-child) {
    margin-left: $spacing-unit / 2;
  }
}

.icon {
  vertical-align: middle;
  margin-right: $spacing-unit / 4;
}
