.home--banner {
  text-align: center;
  border-bottom: 1px solid lighten($color-slate, 50%);
  padding-bottom: $spacing-unit;
  margin-bottom: $spacing-unit;

  h1 {
    font-weight: bold;
    font-size: 5em;
  }
}
