.home-users-grid {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: $spacing-unit / 2;
}

.home-users-grid__item{
  flex: 1;
  margin-right: $spacing-unit / 2;
  max-width: 50%;

  &:last-child {
    margin-right: 0;
  }
}

.home-users-blurb {
  text-align: right;
}
