<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>

    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta name="author" content="Shopify">

    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ '/images/icons/water-drop-32x.png' | relative_url }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ '/images/icons/water-drop-64x.png' | relative_url }}" sizes="64x64">
    <link rel="canonical" href="{{ page.url | replace: 'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | relative_url }}" />

    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ page.url | relative_url }}">
    <meta property="og:title" content="{{ page.title | default: site.title }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">

    <meta name="twitter:site" content="{{ site.title }}">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="{{ site.url | relative_url }}">
    <meta name="twitter:title" content="{{ page.title | default: site.title }}">
    <meta name="twitter:description" content="{{ page.description | default: site.description }}">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49178120-52"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-49178120-52');
    </script>
  </head>

  <body>

    {% include sidebar.html %}

    <div class="content__overlay"></div>
    <main class="content__area" role="main">
      <div class="content">
        <button class="menu-button">
          <span aria-hidden="true">{% include icons/three-bars.svg %}</span>
          <span>Menu</span>
        </button>
        {% if page.title -%}
          <h1>{{ page.title }}
          {%- if page.version-badge -%}
            {%- include version-badge.html version=page.version-badge -%}
          {%- endif -%}</h1>
        {%- endif %}
        {{ content }}
      </div>
    </main>
    <script src="{{ '/js/script.js' | relative_url }}"></script>
  </body>
</html>
