<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="sidebar">
      <h1 class="sidebar--logo"><a href="/">Liquid</a></h1>
      <nav class="sidebar--nav">
        <ul>
          {% for collection in site.collections %}
          <li><a href="{{ collection[0] | prepend: "/" | prepend: site.baseurl | append: "/" }}">{{ collection[0] | capitalize }}</a>
            <ul>
              {% for doc in collection[1].docs %}
              <li><a href="{{ "/filters/" | append: "#" | append: doc.title | prepend: site.baseurl }}">{{ doc.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
          <li><a href="https://github.com/Shopify/liquid">Source on GitHub</a></li>
          <li><a href="#">Nav Item 3</a></li>
          <li><a href="#">Nav Item 4</a></li>
        </ul>
      </nav>
    </div>
    <div class="content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </body>

</html>
